USE [Facturation_2025]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_BILLS]    Script Date: 27/8/2025 23:18:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[SP_DELETE_BILLS] 
	-- Add the parameters for the stored procedure here
	@id int, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update Bills
	set Cancelled = 1
	where id_bill = @id
END
