USE [Facturation_2025]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETALL_BILLS]    Script Date: 27/8/2025 22:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[SP_GETALL_BILLS] 
	-- Add the parameters for the stored procedure here
	@p1 int = 0, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT b.id_bill,b.date_b,b.client,n_pay_meth
	FROM Bills as b
	join paym_meth as pm
	on pm.id_pay_meth = b.id_pay_meth
	where Cancelled = 0
END
