USE [Facturation_2025]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBYDATE_BILLS]    Script Date: 27/8/2025 22:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[SP_GETBYDATE_BILLS] 
	-- Add the parameters for the stored procedure here
	@date date, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT b.id_bill,b.date_b,b.client,pm.n_pay_meth
	from Bills as b
	join paym_meth pm
	on pm.id_pay_meth = b.id_pay_meth
	where b.date_b = @date and Cancelled = 0
	
END