USE [Facturation_2025]
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_PRODUCTS]    Script Date: 30/8/2025 19:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[SP_SAVE_PRODUCTS] 
	-- Add the parameters for the stored procedure here
	@id int, 
	@name varchar (40),
	@price float,
	@active int
AS
BEGIN
	if
		@id = 0
		begin
		insert into Products(n_prod,unit_price,active)
		values(@name,@price,1)
		end
	else
	begin
			update Products
			set n_prod = @name,unit_price = @price
			where id_product = @id
	end

END
