USE [master]
GO
/****** Object:  Database [Facturation_2025]    Script Date: 8/9/2025 20:52:52 ******/
CREATE DATABASE [Facturation_2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Facturation_2025', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Facturation_2025.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Facturation_2025_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Facturation_2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Facturation_2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Facturation_2025]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[id_pay_meth] [int] NULL,
	[date_b] [date] NULL,
	[client] [varchar](60) NULL,
	[Cancelled] [int] NULL,
	[id_bill] [int] IDENTITY(1,1) NOT NULL,
	[id_detail] [int] NULL,
 CONSTRAINT [pk_bills] PRIMARY KEY CLUSTERED 
(
	[id_bill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Details]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details](
	[id_product] [int] NULL,
	[amount] [int] NULL,
	[id_detail] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_detail] PRIMARY KEY CLUSTERED 
(
	[id_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paym_meth]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paym_meth](
	[id_pay_meth] [int] NOT NULL,
	[n_pay_meth] [varchar](30) NULL,
 CONSTRAINT [pk_pay_meth] PRIMARY KEY CLUSTERED 
(
	[id_pay_meth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[n_prod] [varchar](40) NULL,
	[unit_price] [float] NULL,
	[active] [int] NULL,
	[id_product] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_product] PRIMARY KEY CLUSTERED 
(
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [fk_bill_det] FOREIGN KEY([id_detail])
REFERENCES [dbo].[Details] ([id_detail])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [fk_bill_det]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [fk_pay_meth] FOREIGN KEY([id_pay_meth])
REFERENCES [dbo].[paym_meth] ([id_pay_meth])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [fk_pay_meth]
GO
ALTER TABLE [dbo].[Details]  WITH CHECK ADD  CONSTRAINT [fk_pro_det] FOREIGN KEY([id_product])
REFERENCES [dbo].[Products] ([id_product])
GO
ALTER TABLE [dbo].[Details] CHECK CONSTRAINT [fk_pro_det]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_BILLS]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_DELETE_BILLS] 
	-- Add the parameters for the stored procedure here
	@id int, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update Bills
	set Cancelled = 1
	where id_bill = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_PRODUCT]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_DELETE_PRODUCT] 
	-- Add the parameters for the stored procedure here
	@id int = 0, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update Products
	set active = 0
	where id_product = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETALL_BILLS]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_GETALL_BILLS] 
	-- Add the parameters for the stored procedure here
	@p1 int = 0, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT b.id_bill,b.date_b,b.client,b.id_detail,n_pay_meth
	FROM Bills as b
	join paym_meth as pm
	on pm.id_pay_meth = b.id_pay_meth
	join Details as d
	on d.id_detail = b.id_detail
	where Cancelled = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETALL_DETAILS]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_GETALL_DETAILS] 
	-- Add the parameters for the stored procedure here
	@p1 int = 0, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Details
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETALL_PAYM_METH]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 1/09
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_GETALL_PAYM_METH] 
	-- Add the parameters for the stored procedure here
	@p1 int = 0, 
	@p2 int = 0
AS
BEGIN
	
	SELECT *
	FROM paym_meth
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETALL_PRODUCTS]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_GETALL_PRODUCTS] 
	-- Add the parameters for the stored procedure here
	@p1 int = 0, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Products
	where active = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBYDATE_BILLS]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_GETBYDATE_BILLS] 
	-- Add the parameters for the stored procedure here
	@date date, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT b.id_bill,b.date_b,b.client,b.id_detail,pm.n_pay_meth
	from Bills as b
	join paym_meth pm
	on pm.id_pay_meth = b.id_pay_meth
	where b.date_b = @date and Cancelled = 0
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBYID_PRODUCTS]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_GETBYID_PRODUCTS] 
	-- Add the parameters for the stored procedure here
	@id int, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	from Products as p
	where p.id_product = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBYNRO_BILLS]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_GETBYNRO_BILLS] 
	-- Add the parameters for the stored procedure here
	@nro int, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT b.id_bill,b.date_b,b.client,pm.n_pay_meth, id_detail
	from Bills as b
	join paym_meth as pm
	on pm.id_pay_meth = b.id_pay_meth
	where b.id_bill = @nro
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_BILLS]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_SAVE_BILLS] 
	-- Add the parameters for the stored procedure here
	@id int, 
	@date date,
	@client varchar(40),
	@id_pm int,
	@id_det int,
	@cancelled int
AS
BEGIN
	if
		@id = 0
		begin
		insert into Bills(date_b,client,id_pay_meth,id_detail,Cancelled)
		values(@date,@client,@id_pm,@id_det,0)
		end
	else
		update Bills 
		set date_b = @date,client = @client, id_pay_meth = @id_pm, id_detail = @id_det, Cancelled = @cancelled
		where id_bill = @id



END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_BILLSDETAILS]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 8/9
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_SAVE_BILLSDETAILS] 
	-- Add the parameters for the stored procedure here
	@id int = 0,
	@id_product int = 0, 
	@amount int = 0
AS
BEGIN
	if @id = 0
		begin
		insert into Details(id_product,amount)
		values (@id_product,@amount)
		end
	else
		update Details
		set id_product = @id_product, amount = @amount
		where id_detail = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_PRODUCTS]    Script Date: 8/9/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_SAVE_PRODUCTS] 
	-- Add the parameters for the stored procedure here
	@id int, 
	@name varchar (40),
	@price float,
	@active int
AS
BEGIN
	if
		@id = 0
		begin
		insert into Products(n_prod,unit_price,active)
		values(@name,@price,1)
		end
	else
	begin
			update Products
			set n_prod = @name,unit_price = @price, active = @active
			where id_product = @id
	end

END
GO
USE [master]
GO
