USE [Facturation_2025]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETBYID_PRODUCTS]    Script Date: 30/8/2025 20:04:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[SP_GETBYID_PRODUCTS] 
	-- Add the parameters for the stored procedure here
	@id int, 
	@p2 int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	from Products as p
	where p.id_product = @id
END