USE [Facturation_2025]
GO
/****** Object:  StoredProcedure [dbo].[SP_SAVE_BILLS]    Script Date: 2/9/2025 00:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fede
-- Create date: 27/08
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[SP_SAVE_BILLS] 
	-- Add the parameters for the stored procedure here
	@id int, 
	@date date,
	@client varchar(40),
	@id_pm int,
	@id_det int,
	@cancelled int
AS
BEGIN
	if
		@id = 0
		begin
		insert into Bills(date_b,client,id_pay_meth,id_detail,Cancelled)
		values(@date,@client,@id_pm,@id_det,0)
		end
	else
		update Bills 
		set date_b = @date,client = @client, id_pay_meth = @id_pm, id_detail = @id_det, Cancelled = @cancelled
		where id_bill = @id



END
